<div class="container">
    <h1>Usuario</h1>
    <form id="table-form">
        <label for="numero-mesa">Usuario:</label>
        <input type="text" id="numero-mesa" required>
        <label for="numero-mesa">Correo:</label>
        <input type="text" id="numero-mesa" required>
        <label for="inscritos">Contraseña:</label>
        <input type="text" id="inscritos" required>
        <button type="submit" class="add-btn">Agregar</button>
        <button type="submit" class="up-btn">Actualizar</button>
        <button type="submit" class="delet-btn">Eliminar</button>
    </form>
    <table class="table table-hover">
        <tr>
            <th>Usuarios</th>
            <th>Correo</th>
            <th>contraseña</th>                
        </tr>
        <tr>
            <th>Francisco</th>
            <th>francisco01@gmail.com</th>
            <th>fran12345</th>                
        </tr>
    </table>
</div>