<div class="container">
    <h1>Candidato</h1>
    <form id="table-form">
        <label for="id-candidato">ID de Candidato:</label>
        <input type="text" id="id-candidato" required>
        <label for="numero-resolucion">Numero de Resolucion</label>
        <input type="text" id="numero-resolucion" required>
        <label for="Name">Nombre</label>
        <input type="text" id="Name" required>
        <label for="LastName">Apellido</label>
        <input type="text" id="LastName" required>
        <label for="inscritos">Inscritos:</label>
        <input type="number" id="inscritos" required>   
        <button type="submit" class="add-btn">Agregar</button>
        <button type="submit" class="up-btn">Actualizar</button>
        <button type="submit" class="delet-btn">Eliminar</button>
    </form>
    <table class="table table-hover">
        <tr>
            <th>ID Candidato</th>
            <th># Resolucion</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Inscritos</th>                
        </tr>
        <tr>
            <th>1</th>
            <th>100</th>                
        </tr>
    </table>
</div>
