<div class="container">
    <h1>Partido</h1>
    <form id="table-form">
        <label for="id-partido">ID Partido:</label>
        <input type="text" id="id-partido" required>
        <label for="Name">Nombre del partido</label>
        <input type="text" id="Name" required>
        <label for="LemaPartido">Lema</label>
        <input type="text" id="LemaPartido" required>
        <label for="inscritos">Inscritos:</label>
        <input type="number" id="inscritos" required>   
        <button type="submit" class="add-btn">Agregar</button>
        <button type="submit" class="up-btn">Actualizar</button>
        <button type="submit" class="delet-btn">Eliminar</button>
    </form>
    <table class="table table-hover">
        <tr>
            <th>ID Partido</th>
            <th>Nombre del partido</th>
            <th>Lema</th>
            <th>Inscritos</th>                
        </tr>
        <tr>
            <th>1</th>
            <th>100</th>                
        </tr>
    </table>
</div>