.footer {
    background-color: #13142a;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer p {
    margin: 10px 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li {
    margin: 5px 0;
}

.footer .footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about,
.categories,
.social {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}