<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="about">
                <h4>Acerca de</h4>
                <p></p>
            </div>
            <div class="categories">
                <h4>Categorías</h4>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="social">
                <h4>Síguenos</h4>
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" title="Facebook">Facebook</a> |
                <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer" title="Twitter">Twitter</a> |
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" title="Instagram">Instagram</a>
            </div>
        </div>
        <hr>
        <p>&copy; 2023 Tu Sitio Web. Todos los derechos reservados.</p>
    </div>
</footer>